@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Common Style */
.target-items-title{
    font-size: 24px;
    font-weight: bolder;
}
.get-itartems-des{
    font-size: 16px;
}

/* Font  */
.azeret-mono-font{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  /* Global Css */
  *{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 1440px;
  }

/* Header Section */
.header-main{
    display: flex;
    justify-content: space-between;
    margin: 40px 140px;
    align-items: center;
}
.header-main h2{
    font-size: 28px;
    font-weight: bolder;
}
.header-btn{
    padding: 17px 24px;
    font-weight: bolder;
}

/* Banner Section */
.banner{
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    min-height: 652px;
    justify-content: center;
    text-align: center;
    padding-top: 26px;
    
}
.banner h2{
    font-weight: bolder;
    font-size: 48px;
    padding: 32px 221px 0;
}
.banner p{
    font-size: 16px;
    text-align: center;
    padding-left: 294px;
    padding-right: 294px;
}
.banner button {
   background-color: black;
   
   padding: 21px 24px;
   border: none;
   border-radius: 5px;
   margin-top: 25px;
}
.banner button a{
    color: white;
    text-decoration: none;
}
/* learn-web-dev */
.learn-web-dev{
    margin: 74px 148px;
    text-align: center;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
}
.learn-web-dev-title{
    font-size: 32px;
    font-weight: bolder;
}
.learn-web-dev-description{
    font-size: 16px;
}
.layer-1{
    display: flex;
    justify-content: space-between;
    gap: 98px;
    text-align: left;
    justify-content: center;
    margin: 45px 0;
    background-color: white;
    padding: 48px;
    border: none;
    border-radius: 10px;
}
.layer-title{
    font-weight: bold;
    font-size: 24px;
}
.layer-description{
    font-size: 16px;
}
.layer-2{
    display: flex;
    justify-content: space-between;
    gap: 98px;
    text-align: left;
    margin: 45px 0;
    padding: 48px;
    border: none;
    
}
.layer-3{
    display: flex;
    justify-content: space-between;
    gap: 98px;
    text-align: left;
    justify-content: center;
    margin: 45px 0;
    background-color: white;
    padding: 48px;
    border: none;
    border-radius: 10px;
}
.layer-btn{
    font-size: 20px;
    font-weight: 400;
    padding: 12px 20px;
}
/* inspiration Section */
.inspiration{
    text-align: center;
    margin: 90px 148px;
}
.inspiration-title{
    font-size: 32px;
    font-weight: bolder;
}
.inspiration-description{
    font-size: 16px;
}
.inspiration-section{
    margin: 0 144px 48px;
}
.inspiration-video-section{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 15px;
    background-color: #FFFFFF;
    margin: 50px auto;
   
    width: 100%;
    height: 614px;
   
}
.inspiration-video{
    padding: 32px;
}

/* Target Section */
.target{
    justify-content: center;
    text-align: center;
    margin: 150px;
    margin-top: -20px;
}
.target-content h2{
    font-size: 32px;
    font-weight: bolder;
}
.target-content p{
    font-size: 16px;
}
.target-items{
    display: flex;
    gap: 24px;
    margin-top: 48px;
    
}
.target-items-1{
 text-align: left;
 background-color: rgba(255, 76, 30, 0.05);
 padding: 40px;
 
}
.target-items-2{
 text-align: left;
 background-color: rgba(0, 76, 232, 0.05);
 padding: 40px;
}
.target-items-3{
 text-align: left;
 background-color: rgba(255, 223, 0, 0.05);
 padding: 40px;
}

.current-target a{
    color: #0D1321;
    font-size: 16px;
    font-weight: bold;
}

.next-target{
    margin-top: 80px;
}

.next-target-content{
    padding: 0 98px;
}
.next-target-react{
    display: flex;
    align-items: center;
    gap: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 24px;
}
.next-target-react-content{
    text-align: left;
}
.next-target a{
    color: #0D1321;
    font-size: 16px;
    font-weight: bold;
}
.next-target-node{
    display: flex;
    align-items: center;
    gap: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 24px;
}
.next-target-mongoDB{
    display: flex;
    align-items: center;
    gap: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 24px;
}
.next-target img{
    width: 98px;
    height: 108px;
}

/* Support Section */

.support-section{
    max-width: 1025px;
    min-height: 313px;
    margin: 20px auto;
    background-image: url("../assets/handshake.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    border: none;
    border-radius: 16px;
    text-align: center;
    color: white;
}
.support-content{
    padding: 64px 48px;
}
.support-input{
    display: flex;
    align-items: center;
    gap: 16px;
    text-align: center;
    padding: 0 180px;
}

.support-input-text{
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 550px;
}
.support-input-text ::placeholder{
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
}
.support-input-btn{
    padding: 15px;
    font-size: 20px;
    font-weight: 500px;
    border: none;
    border-radius: 5px;
}



/* Footer Section */
.web-footer-items{
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
}
.web-footer-items h2{
    font-size: 20px;
    font-size: 600;
}
.web-footer-items a{
    font-size:32px ;
}